<div class="form">
    <div class="container">
        <div class="form__wrapper">
            <h2 class="form__title">
                Contact Us
            </h2>
            <p class="form__description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <form onsubmit="sendEmail()" class="form__form" action="#">
                <div class="form__row">
                    <input type="text" name="name" class="form__input" placeholder="Name">
                    <input type="text" name="company" class="form__input" placeholder="Company">
                </div>
                <div class="form__row">
                    <input type="email" name="email" class="form__input" placeholder="Email" required>
                    <input type="tel" name="phone" class="form__input" placeholder="Phone">
                </div>
                <div class="form__row">
                    <textarea class="form__input" name="message" placeholder="Message"></textarea>
                </div>
                <div class="form__row center">
                    <button class="form__button">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>