team-component {
    .team {
        &__wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 10px;

            team-person {
                width: 20%;
                margin-bottom: 20px;

                &:nth-child(4n) {
                    margin-right: 0;
                }
            }
        }
    }
}