<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/variables.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/default-styles.css">
    
    <meta name="robots" content="noindex">
    
    <style data-webpack-style="true">
        about-us-image-counter[data-gh-id="about-us-image-counter"] .primary-block {
            border-radius: var(--block-primary-border-radius);
        }
        about-us-image-counter[data-gh-id="about-us-image-counter"] img {
            height: 80px;
        }
        media-and-accordion .subtitle {
            text-align: center;
        }
        prices-cards[data-gh-id="prices_cards"] section {
            padding-bottom: 80px;
        }
        @media screen and (min-width: 1050px) {
            overflow-cards {
                padding-bottom: 120px;
            }
        }
        .contact-us-container {
            width: 500px;
            margin: auto;
        }
        .componentName h2, .componentName h1 {
            text-align: center;
            margin-bottom: 0;
            background-color: black;
            color: white;
            padding: 20px;
        }
        .theme-switcher {
            position: fixed;
            top: 20px;
            right: 40px;
            z-index: 10;
        }
    </style>
</head>
<body>

    <div class="theme-switcher">
        <select name="theme-switcher-select" id="theme-switcher-select"></select>
        <button id="theme-switcher-button-next">Next</button>
    </div>


<div class="no-theme componentName"><h1>ABOUT-US-COMPONENTS</h1></div>

    <div class="no-theme componentName"><h2>about-us-banner</h2></div>
    <about-us-banner class="no-theme" data-gh-id="about-us-banner"></about-us-banner>

    <div class="no-theme componentName"><h2>about-us-image-counter</h2></div>
    <about-us-image-counter class="no-theme" data-gh-id="about-us-image-counter"></about-us-image-counter>

    <div class="no-theme componentName"><h2>about-us-team-members</h2></div>
    <about-us-team-members class="no-theme" data-gh-id="about-us-team-members"></about-us-team-members>
    
    <div class="no-theme componentName"><h2>animation-block</h2></div>
    <animation-block class="no-theme" data-gh-id="animation-block"></animation-block>
    
<div class="no-theme componentName"><h1>COUNTER-COMPONENTS</h1></div>

    <div class="no-theme componentName"><h2>counter-section</h2></div>
    <counter-section class="no-theme" data-gh-id="counter-section"></counter-section>
    
    <div class="no-theme componentName"><h2>counter-section-with-text</h2></div>
    <counter-section-with-text class="no-theme" data-gh-id="counter-section-with-text"></counter-section-with-text>
    
    <div class="no-theme componentName"><h2>service-counter</h2></div>
    <service-counter class="no-theme" data-gh-id="service-counter"></service-counter>
    
    <div class="no-theme componentName"><h2>service-image-counter</h2></div>
    <service-image-counter class="no-theme" data-items-in-row="5" data-gh-id="service-image-counter"></service-image-counter>

<div class="no-theme componentName"><h1>BANNER-COMPONENTS</h1></div>

    <div class="no-theme componentName"><h2>crm-services-banner</h2></div>
    <crm-services-banner class="no-theme" data-gh-id="crm-services-banner"></crm-services-banner>

    <div class="no-theme componentName"><h2>banner-and-text</h2></div>
    <banner-and-text class="no-theme" data-gh-id="banner-and-text"></banner-and-text>

    <div class="no-theme componentName"><h2>fullscreen-image-and-text</h2></div>
    <fullscreen-image-and-text class="no-theme" data-gh-id="fullscreen-image-and-text" data-reverse></fullscreen-image-and-text>
    
<div class="no-theme componentName"><h1>TEXT-COMPONENTS</h1></div>

    <div class="no-theme componentName"><h2>grid-component</h2></div>
    <grid-component class="no-theme" data-items-in-row="3" data-gh-id="grid-component">
        <grid-item-default></grid-item-default>
    </grid-component>
    
    <div class="no-theme componentName"><h2>list-text-and-media</h2></div>
    <list-text-and-media class="no-theme" data-gh-id="list-text-and-media"></list-text-and-media>
    
    <div class="no-theme componentName"><h2>media-and-accordion</h2></div>
    <media-and-accordion class="no-theme" data-gh-id="media-and-accordion"></media-and-accordion>
    
    <div class="no-theme componentName"><h2>media-and-list-of-text</h2></div>
    <media-and-list-of-text class="no-theme" data-gh-id="media-and-list-of-text"></media-and-list-of-text>
    
    <div class="no-theme componentName"><h2>media-and-text</h2></div>
    <media-and-text class="no-theme" data-gh-id="media-and-text"></media-and-text>
    
    <div class="no-theme componentName"><h2>text-only</h2></div>
    <text-only class="no-theme" data-gh-id="text-only"></text-only>

<div class="no-theme componentName"><h1>PRICE-COMPONENTS</h1></div>
    <div class="no-theme componentName"><h2>prices-cards</h2></div>
    <prices-cards class="no-theme" data-gh-id="prices_cards" id="prices"></prices-cards>

<div class="no-theme componentName"><h1>FORM-COMPONENTS</h1></div>
    <div class="no-theme componentName"><h2>get-in-touch-block</h2></div>
    <get-in-touch-block class="no-theme" data-gh-id="get-in-touch" id="contact-us"></get-in-touch-block>

<div class="no-theme componentName"><h1>CONTACT-US-COMPONENTS</h1></div>
    <div class="no-theme componentName"><h2>CONTACT-US-BLOCK</h2></div>
    <div class="contact-us-container">
        <contact-us-block class="no-theme" data-gh-id="contact-us-block"></contact-us-block>
    </div>

    <!-- MISSING -->
    <!-- all blog components
    breadcrumbs
    button-component
    category-banner
    cookies-popup
    edit-mode
    faq
    tabs-component: FIRST TO IMPLEMENT -->
    
    <script>
        const environment = window.location.protocol === 'file:' ? 'server' : 'client';
        if (environment === 'client') {
            const select = document.getElementById('theme-switcher-select');
            const defaultTheme = 'no-theme';
            const themes = [
                //theme classes list
                'white_grey_theme',
                'dark_white_theme',
                'white_dark_theme',
                'white_white_theme'
            ];

            const defaultOption = document.createElement('option');
            defaultOption.textContent = defaultTheme;
            select.appendChild(defaultOption);

            themes.forEach(optionText => {
                const option = document.createElement('option');
                option.textContent = optionText;
                select.appendChild(option);
            });

            let selectedTheme = defaultTheme;
            const changeTheme = (newSelectedTheme) => {
                components = document.querySelectorAll(`.${selectedTheme}`);
                for (const el of components) {
                    el.classList.remove(selectedTheme);
                    el.classList.add(newSelectedTheme);
                }
                selectedTheme = newSelectedTheme;
            };
            select.addEventListener('change', () => changeTheme(select.value));

            const buttonNext = document.getElementById('theme-switcher-button-next');
            buttonNext.addEventListener('click', function() {
                const currentIndex = themes.indexOf(selectedTheme);
                const nextIndex = (currentIndex + 1) % themes.length;
                const newSelectedTheme = themes[nextIndex];
                changeTheme(newSelectedTheme);
                select.value = newSelectedTheme;
            });
        }

    </script>
    <script src="/assets/js/main.js"></script>
</body>
</html>