<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>

    <meta-tag type="title"></meta-tag>

    <header-component></header-component>
    <hero-component data-gh-id="hero"></hero-component>
    <grid-component data-gh-id="problems"></grid-component>
    <grid-component class="items-with-border" style="background: url('/assets/images/hero.svg') no-repeat center center, #EEF3F7;" data-gh-id="services"></grid-component>
    <grid-component class="items-with-border" data-gh-id="partners"></grid-component>
    <text-component style="background: #EEF3F7;" data-gh-id="lorem"></text-component>
    <columns-component data-gh-id="pricing"></columns-component>
    <form-component style="background: #EEF3F7;"></form-component>
    <footer-component></footer-component>

    <script src="/assets/js/main.js"></script>
 
</body>
</html>