<!DOCTYPE html>
<html lang="en">
<head>
    <script id="base_write_script">
        document.write(`<base href="http://${window.constants.website}">`);
        document.querySelector('#base_write_script').remove();
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
   
    <header-component></header-component>
    <hero-component></hero-component>
    <grid-component data-gh-id="problems"></grid-component>
    <grid-component class="items-with-border" style="background: url('/assets/images/hero.svg') no-repeat center center, #EEF3F7;" data-gh-id="services"></grid-component>
    <grid-component class="items-with-border" data-gh-id="partners"></grid-component>
    <text-component style="background: #EEF3F7;" data-gh-id="lorem"></text-component>
    <columns-component data-gh-id="pricing"></columns-component>
    <form-component style="background: #EEF3F7;"></form-component>
    <footer-component></footer-component>

    <script src="https://unpkg.com/@gudhub/core/umd/library.min.js"></script>
    <script src="/assets/js/main.js"></script>

    <script src="/assets/js/components/header/header.js"></script>
    <script src="/assets/js/components/hero/hero.js"></script>
    <script src="/assets/js/components/call-to-action/call-to-action.js"></script>
    <script src="/assets/js/components/grid/grid.js"></script>
    <script src="/assets/js/components/block/block.js"></script>
    <script src="/assets/js/components/edit-mode/edit-mode.js"></script>
    <script src="/assets/js/components/form/form.js"></script>
    <script src="/assets/js/components/text/text.js"></script>
    <script src="/assets/js/components/columns/columns.js"></script>
    <script src="/assets/js/components/footer/footer.js"></script>
 
</body>
</html>