<!DOCTYPE html>
<html lang="en">
<head>
    <script id="base_write_script">
        document.write(`<base href="http://${window.constants.website}">`);
        document.querySelector('#base_write_script').remove();
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
   
    <header-component></header-component>
    <hero-component class="small" data-no-text></hero-component>
    <grid-component class="items-with-border" data-gh-id="services"></grid-component>
    <form-component></form-component>
    <footer-component></footer-component>

    <script src="http://127.0.0.1:5500/umd/library.min.js"></script>
    <script src="http://127.0.0.1:5502/dist/main.js"></script>

    <script src="/assets/js/components/header/header.js"></script>
    <script src="/assets/js/components/hero/hero.js"></script>
    <script src="/assets/js/components/form/form.js"></script>
    <script src="/assets/js/components/grid/grid.js"></script>
    <script src="/assets/js/components/footer/footer.js"></script>
 
</body>
</html>