<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/variables.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/default-styles.css">
    
</head>
<body>
    <canonical-component></canonical-component>
    <meta-index></meta-index>
    <organization-schema></organization-schema>
    <title-tag></title-tag>
    <meta-tag og type="title"></meta-tag>
    <meta-tag twitter type="title" data-twitter-name="@Template"></meta-tag>
    <meta-tag type="description"></meta-tag>
    <meta-tag og type="description"></meta-tag>
    <meta-tag twitter type="description"></meta-tag>
    <meta-tag og type="meta_image_src"></meta-tag>
    <meta-tag twitter type="meta_image_src"></meta-tag> 

    <header-component class="dark_white_theme"></header-component>

    <team-component class="white_grey_theme" data-gh-id="team"></team-component>
    
    <footer-component class="dark_white_theme"></footer-component>

    <script src="/assets/js/main.js"></script>
    
</body>
</html>