<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__info">
                <a href="/" class="logo">
                    <img src="/assets/images/logo.svg" alt="Logo">
                </a>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="footer__nav">
                <ul class="nav">
                    <li class="nav__item">
                        <a href="/contact-us/">Contact Us</a>
                    </li>
                    <li class="nav__item">
                        <a href="/privacy-policy/">Privacy Policy</a>
                    </li>
                    <li class="nav__item">
                        <a href="/copywrite/">Copywrite</a>
                    </li>
                </ul>
                <div class="contacts">
                    <a href="tel:1234567890" class="contacts__item">
                        Phone: (123) 456-7890
                    </a>
                    <a href="mailto:john@doe.com" class="contacts__item">
                        Email: john@doe.com
                    </a>
                    <a href="https://goo.gl/maps/UsAWwaj8tfkeLEg8A" target="_blank" class="contacts__item">
                        Address: 123 Walt Nuzum Farm Road, NY 04567
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="edit-mode__wrapper">
                Edit mode:
                <edit-mode></edit-mode>
            </div>
            <span class="copyright">
                ©2023 Website Template
            </span>
        </div>
    </div>
</footer>