<div class="columns">
    <div class="container">
        <h2 gh-id="${ghId}.title" class="columns__title">
            Pricing Options
        </h2>
        <p gh-id="${ghId}.description" class="columns__description">
            Description
        </p>
        <div class="columns__columns">
            ${
                columns.reduce((acc, item, index) => {
                    return acc + `
                        <div class="columns__column">
                            <div gh-id="${ghId}.columns.${index}.title" class="title">
                                Lorem Ipsum
                            </div>
                            <ul class="list">
                                ${
                                    item.items.reduce((acc, item, child_index) => {
                                        return acc + `
                                        <li gh-id="${ghId}.columns.${index}.items.${child_index}.text">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                                        </li>
                                        `
                                    }, '')
                                }
                            </ul>
                        </div>
                    `
                }, '')
            }
        </div>
    </div>
</div>