<div class="grid">
    <div class="container">
        <div class="grid__wrapper">
            <h2 gh-id="${ghId}.title" class="grid__title">
                The problem we solve
            </h2>
            <p gh-id="${ghId}.description" class="grid__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
            <div class="grid__items">
                ${
                    items.reduce((acc, item, index) => {
                        return acc + `
                            <div class="grid__item">
                                <span gh-id="${ghId}.items.${index}.text" class="title">${ item.text }</span>
                                ${
                                    item.button ? `
                                        <a href="${ item.button.link }" class="button">
                                            ${ item.button.text }
                                        </a>
                                    ` : ''
                                }
                            </div>
                        `
                    }, '')
                }
            </div>
            ${ (button_text && button_link) ? `
                <div class="button__wrapper">
                    <a href="${ button_link }" class="button call-to-action">
                        ${ button_text }
                    </a>
                </div>
            ` : '' }
        </div>
    </div>
</div>